<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/style.css" />
    <title>HackYourTemperature</title>
  </head>
  <body>
    <form method="POST" action="/weather">
      <input
        class="input"
        type="text"
        name="cityName"
        placeholder="Type your city....."
      />
      <button class="btn" type="submit">SUBMIT</button>
    </form>
    <p class="weatherText">{{weatherText}}</p>

  </body>
</html>